[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=0.12.3"
blinker = "*"
msgpack = "*"
dbutils = "*"
pycryptodome = "*"
pymysql = "*"
pymongo = "*"
raven = ">=6.9.0"
elastic-apm = "~=4.0"
logbook = "*"
gitpython = ">=2.1.8"
uwsgidecorators = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.7"
